{% extends 'base.html'%}

{% block style %}
<style>
    th
    {
        text-align:center;
    }

    td
    {
         text-align:center;
    }
    
</style>
{% endblock %}

{% block body %}
<a href="{% url 'member:create' %}" class="btn btn-primary mb-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> 會員新增</a>
<table class="table table-striped" id="mlist">
    <thead class="table-danger">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>電子郵件</th>
            <th>生日</th>
            <th>電話</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody>
   
            {% for member in members%}
            <tr>
                <td style="vertical-align:middle;">{{member.id}}</td>
                <td style="vertical-align:middle;">{{member.username}}</td>
                <td style="vertical-align:middle;">{{member.useremail}}</td>
                <td style="vertical-align:middle;">{{member.userbirth}}</td>
                <td style="vertical-align:middle;">{{member.tel}}</td>
            <td>
                <a href="{% url 'member:update' member.id %}" class="btn btn-info mr-2">修改</a>
                <a href="{% url 'member:delete' member.id %}" class="btn btn-danger">刪除</a></td>
        </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block script %}
<script>
    $('#mlist').DataTable();
</script> {% endblock %}