<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">點餐系統</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        店員管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'member:index' %}">店員列表</a>
                        <a class="dropdown-item" href="{% url 'member:create' %}">新增店員</a>                        
                    </div>
                </li>                
            </ul>            
        </div>
        {% if request.COOKIES.name %}
            <span>{{ request.COOKIES.name }} 您好</span>            
            {% else %}
            <span>請先</span>
            {% endif %}

            <ul class="navbar-nav float-rigth">

                <li class="nav-item">
                    {% if request.COOKIES.name %}
                    <a class="nav-link" href="{% url "member:logout" %}">登出</a>                    
                    {% else %}
                    <a class="nav-link" href="{% url "member:login" %}">登入</a>
                    {% endif %}
    </nav>
</div>